<%- include('../partials/header') %>
    <ul>
      <% skills.forEach(function(s) { %>
        <li>
          <!-- <form action="/skills/<%= s.id %>?_method=EDIT"
            class="edit-form" method="PUT">
            <input type="text">
            <button></button>

          </form> -->
          <a href="/skills/<%= s.id %>"><%= s.skill %></a>
            - 
          <%= s.proficiency ? 'competent' : 'poor' %>
        </li>
      <% }); %>
      <a href="/skills/new">Add Skills</a>
      
    </ul>
<%- include('../partials/footer') %>